body{
   
    background-image: images/police.png;
}

/* Navigation bar*/

.brand{
    color: white;
    padding-left: 1%;
}

.policeLogo{
    height: 6%;
    width: 6%;
}

.navbar{
    padding: 0 4%;
    padding-left: 0!important;
    
}

#navigation{
    padding: 1% 4%;
    background-color: rgba(27,81,140,1);
}

.list{
    color: white;
    padding: 1%
}


/* slid show*/

.houseImg{
    padding: 20px auto;
    height: 10%;
    width: 10%
}

#slidShow{
    padding: 2% 0;
}

.house{
    height: 500px;
    width: 500px;
}

/*login popUp*/

.login{
    padding-bottom: 2%;
    text-align: center;
}

/*options page*/
.profile{
    border-radius: 100%;
    height: 10%;
    width: 10%;
}

.biodata{
    text-align: center;
    padding: 0 0 2% 0;
   
}

.row{
    padding: 1% 20%;
    text-align: left;
}

.ALM{
    padding: 5% 2%;
}


/* Allotment*/
.allotment{
    padding: 4% 20%;
}

.allot{
    padding: 1% 0;
}

/* Footer*/
#footer{
    padding: 2% 0;
    text-align: center;
    background-color: rgba(27,81,140,1);
    color: white;
    
}

.footerContainer{
    padding-right: 0;
    padding-left: 0;
}

.social-icon{
    margin: 1% 1%;
    
}

/*options*/
.h2{
    padding: 2% 7%;
}

.info{
    padding: 2% 0;
}

.check{
    padding-left: 2%;
}

hr{
    margin: 0 20%;
}

